body {
    min-width: 23rem;
    padding: 0.5rem;
}

footer {
    color: #808080; /* Grey color */
    
    .info-link {
        cursor: pointer; /* Pointer cursor to indicate it's clickable */

        &:hover {
            text-decoration: underline; /* Underline to indicate a link */
        }
    }
}

.hint {
    margin-top: 0.25rem !important;
    font-size: 0.8rem;
}