body {
    min-width: 23rem;
    padding: 0.5rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    color: #808080; /* Grey color */
    margin-top: auto;
    height: fit-content;

    .info-link {
        cursor: pointer; /* Pointer cursor to indicate it's clickable */

        &:hover {
            text-decoration: underline; /* Underline to indicate a link */
        }
    }
}

.hint {
    margin-top: 0.25rem !important;
    font-size: 0.8rem;
}

a {
    color: #21a3f3; 
    text-decoration: none; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
  
    &:hover {
      color: #1e90ff; 
      text-decoration: underline; 
    }
  }